:root {
    /* your variables */
}

body::backdrop {
    background-color: var(--background-color-default);
}

/* Compatible with scrolling issues in full screen */
body:fullscreen {
    overflow: auto;
}
